<% if @all_notifications.any? %>
    <div class="notification_box">
      <% @all_notifications.each do |notify| %>
          <%= link_to notification_show_user_posts_path(:user_id=>notify.post.user.id,:id=>notify.id) do %>
              <% if notify.seen  %>
                  <div class="every_notification">
                    <div class="image_holder">
                      <% if notify.maker.profilepic %>
                          <%= image_tag(notify.maker.profilepic,:class => "notify_image")%>
                      <% else %>
                          <%= image_tag('/image/profile-image2.gif',:class => "notify_image")%>
                      <% end %>
                    </div>
                    <div class="body_holder">
                      <span class="maker_mane"><%= notify.maker.name %></span>
                      <span class="body"><%= notify.body %></span>
                    </div>
                    <div style="clear: both"></div>
                  </div>
              <% else %>
                  <div class="every_notification unread_notification">
                    <div class="image_holder">
                      <% if notify.maker.profilepic %>
                          <%= image_tag(notify.maker.profilepic,:class => "notify_image")%>
                      <% else %>
                          <%= image_tag('/image/profile-image2.gif',:class => "notify_image")%>
                      <% end %>
                    </div>
                    <div class="body_holder">
                      <span class="maker_mane"><%= notify.maker.name %></span>
                      <span class="body"><%= notify.body %></span>
                    </div>
                    <div style="clear: both"></div>
                  </div>
              <% end %>
          <% end %>
      <% end %>
      <%= link_to all_notification_users_path do %>
      <div class="show_all_notification">All Notification</div>
      <% end %>
    </div>
<% else %>
    <div class="notification_box">
        <div>
            None
        </div>
    </div>
<% end %>