  <h1>Home Page</h1>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="frnd_search_field_and_container">
      <input type="text" class="search_text_field" placeholder="Search frineds....">
      <input type="button" class="search_button" value="Search">
      <div class="serched_friend_list_container"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
  </div>

  <br/>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <% if @friend_list.any? %>
      <div class="chatting_contacts_container">
      <% @friend_list.each do |friend| %>
          <% if friend.id!=@user_id %>
              <div class="contacts" data-userinfo="<%= friend.to_json %>">
                <%= friend.email%><br/>
              </div>
          <% end %>
      <% end %>
      </div>
      <% end %>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="">
        <span>Create a status....</span>
        <%= form_for [@cuuser, @post], remote: true do |f| %>
            <p><%= f.text_field :title, :class=>"status_title_input_field", :autocomplete => :off, :placeholder=>"Title ..." %><p/>
            <%= f.text_area :body, :class=>"status_input_field", :autocomplete => :off, :placeholder=>"Write something here....." %><br/>
            <%= f.submit 'Post'%>
        <% end %>
      </div>
      <div class="posts_container">
        <% @all_posts.each do |pst| %>
        <div class="single_post" data-postid="<%= pst.id %>">
          <div class="post_title">
            <% if pst.user.profilepic.present? %>
                <%= image_tag(pst.user.profilepic) %>
            <% else %>
                <img src="/image/profile-image2.gif" />
            <% end %>
          <span class="user"> <%= pst.user.email %> </span><%= pst.title if pst.title %>
          <% if pst.user.id==@cuuser.id %>
                <img class="post_delete" src="/image/cancel.png" />
          <% end %>
          </div>
          <div class="post_body">
            <div class="body_part"><%= pst.body %></div>
          </div>
          <div class="like_comment_part">
            <% if pst.like!=nil %>
                <% if pst.like.split(',').include?(@cuuser.id.to_s) %>
                    <span style="color: green" class="like">Liked</span>
                <% else %>
                    <span class="like">Like</span>
                <% end %>
                <span class="all_likes">
                  <span class="number"><%= pst.like.split(',').length %></span>
                  <span class="unit">
                    <% if pst.like.split(',').length==1 %>
                      Like
                    <% else %>
                      Likes
                    <% end %>
                  </span>
                </span>
            <% else %>
                <span class="like">Like</span>
            <% end %>
            <span class="comment">Comment</span>
          </div>
          <div class="comment_container">
            <div class="comments">
              <% if pst.comments.any? %>
                <% pst.comments.reverse.each do |cmnt|  %>
                  <div class="single_comment">
                    <% if cmnt.user.profilepic.present? %>
                        <%= image_tag(cmnt.user.profilepic) %>
                    <% else %>
                        <img src="/image/profile-image2.gif" />
                    <% end %>
                    <span class="commenter"><%= cmnt.user.name %></span>
                    <span class="comment_body"> <%= cmnt.body %></span>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
  </div>

  <div class="chatbar">
    <div class="alert_for_new_conversation">Get new conversation</div>
    <div class="titlebar">
      <span class="username">Name</span>
      <img src="/image/cancel.png" />

    </div>
    <div class="ChatContentField">
      <div class="chat_barAndMessage_container">
        <!--<div class="every_message">-->
        <!--<div class="username">Sahid</div>-->
        <!--<div class="body">It's a pleasure to meet you</div>-->
        <!--<div class="datetime">16.1.2015</div>-->
        <!--</div>-->
      </div>
      <div class="MessageInputField">
        <%= form_for @message, remote: true do |f| %>
            <%= hidden_field_tag :recipient_id %>
            <%= f.text_field :body, :class=>"text_input_field",:autocomplete => :off, :placeholder=>"Write something here....." %>
            <%= f.submit :class=>"hidden_class" %>
        <% end %>

      </div>
    </div>
  </div>