  <h1>Home Page</h1>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="frnd_search_field_and_container">
      <input type="text" class="search_text_field" placeholder="Search frineds....">
      <input type="button" class="search_button" value="Search">
      <div class="serched_friend_list_container"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
  </div>

  <br/>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="chatting_contacts_container">
      <% @friend_list.each do |friend| %>
          <% if friend.id!=@user_id %>
              <div class="contacts" data-userinfo="<%= friend.to_json %>">
                <%= friend.email%><br/>
              </div>
          <% end %>
      <% end %>
    </div></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="">
        <span>Create a status....</span>
        <%= form_for [@cuuser, @post], remote: true do |f| %>
            <p><%= f.text_field :title, :class=>"status_title_input_field", :placeholder=>"Title ..." %><p/>
            <%= f.text_area :body, :class=>"status_input_field", :placeholder=>"Write something here....." %><br/>
            <%= f.submit 'Post'%>
        <% end %>
      </div>
      <div class="posts_container">
        <% @all_posts.each do |pst| %>
        <div class="single_post" data-postid="<%= pst.id %>">
          <div class="post_title">
            <% if pst.user.profilepic.present? %>
                <%= image_tag(pst.user.profilepic) %>
            <% else %>
                <img src="/image/profile-image2.gif" />
            <% end %>
          <span class="user"> <%= pst.user.email %> </span><%= pst.title %></div>
          <div class="post_body">
            <div class="body_part"><%= pst.body %></div>
          </div>
          <div class="like_comment_part">
            <% if pst.like!=nil %>
                <% if pst.like.split(',').include?(@cuuser.id.to_s) %>
                    <span style="color: green" class="like">Liked</span>
                <% else %>
                    <span class="like">Like</span>
                <% end %>
            <% else %>
                <span class="like">Like</span>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
  </div>

  <div class="chatbar">
    <div class="titlebar">
      <span class="username">Name</span>
      <img src="/image/cancel.png" />

    </div>
    <div class="ChatContentField">
      <div class="chat_barAndMessage_container">
        <!--<div class="every_message">-->
        <!--<div class="username">Sahid</div>-->
        <!--<div class="body">It's a pleasure to meet you</div>-->
        <!--<div class="datetime">16.1.2015</div>-->
        <!--</div>-->
      </div>
      <div class="MessageInputField">
        <%= form_for @message, remote: true do |f| %>
            <%= hidden_field_tag :recipient_id %>
            <%= f.text_field :body, :class=>"text_input_field", :placeholder=>"Write something here....." %>
            <%= f.submit :class=>"hidden_class" %>
        <% end %>

      </div>
    </div>
  </div>