$(document).ready(function(){
    var Commu=new function(){
        var that=this,chat_bar=$('.chatbar');
        this.ContactList=new function(){
            var selectcontact=$('.contacts');
            selectcontact.mouseover(function(){
                $(this).addClass("active");
            });
            selectcontact.mouseout(function(){
                $(this).removeClass("active");
            });
            selectcontact.click(function(){
                var user=$(this).data('userinfo');
                chat_bar.find('.titlebar .username').html(user['email']).data('user',user);
                chat_bar.find('#recipient_id').val(user['id']);
                chat_bar.show();
                that.MessageLoad(user['id']);
            });
        };
        this.ChatBarAndMessageContainer=new function(){
            this.ScrollDownMessageContainer=function(){
                var seclectmessagecontainer=$('.chat_barAndMessage_container');
                seclectmessagecontainer.scrollTop(seclectmessagecontainer.prop("scrollHeight"));

            };
            this.ContainerHide=new function(){
                chat_bar.find('.titlebar img').click(function(e){
                    e.stopPropagation();
                    chat_bar.hide();
                });
                chat_bar.find('.titlebar').click(function(){
                    chat_bar.find('.ChatContentField').toggle(function(){
                        $(this).animate({height:0},200);
                    },function(){
                        $(this).animate({height:237},200);
                    });
                });
            };
        };
        this.MessageSending=new function(){
            var textboxselector=$('.chatbar .text_input_field');
            textboxselector.keydown(function(e){
                if(textboxselector.val()=='') {
                    if (e.keyCode == 32) {
                        e.preventDefault();
                    }
                }
            });
        };
        this.MessageLoad= function(recipient_id){
            $.ajax({
                url: '<%= Rails.application.routes.url_helpers.message_load_messages_path %>',
                data: {recipient_id: recipient_id},
                type: 'get'

            });
        };
        this.AutoMessageLoad=new function(){
            setInterval(function(){
                if($(".chatbar").is(":visible")) {
                    var user = $('.chatbar .titlebar .username').data('user');
                    var recipient_id = user['id'];
                    $.ajax({
                        url:'<%= Rails.application.routes.url_helpers.message_load_messages_path %>',
                        data: {recipient_id: recipient_id},
                        type: 'get'

                    });
                }
            },1000)
        };
        this.FriendSearch=new function(){
            var search_field=$('.search_text_field');
            search_field.keydown(function(e){
                if($(this).val()=='') {
                    if (e.keyCode == 32) {
                        e.preventDefault();
                    }
                }
            });
            search_field.keyup(function(){
                var friend_name=$(this).val();
                if(friend_name!=''){
                    $.ajax({
                        url: '<%= Rails.application.routes.url_helpers.search_friend_users_path %>',
                        data: {friend_name: friend_name},
                        type: 'get'
                    });
                }
            });
        };
        this.PostLike=new function(){
            this.LikeClick=new function(){
                $('.single_post .like_comment_part .like').click(function(){
                    var like=$(this).html(),str;
                    if(like=='Like'){
                        $(this).html('Liked').css('color','green');
                        var like_comment=$(this).parent();
                        var ll=like_comment.find('.number').html();
                        if(ll){
                            like_comment.find('.number').html(parseInt(ll)+1);
                            like_comment.find('.unit').html('Likes');
                        }
                        else{
                            str=$('<span class="all_likes"><span class="number">1</span><span class="unit"> Like</span></span>');
                            like_comment.append(str);
                        }
                        var post_id=$(this).parent().parent().data('postid')
                        $.ajax({
                            url: '<%= Rails.application.routes.url_helpers.post_like_users_path %>',
                            data: {post_id:post_id},
                            type: 'get'
                        });
                    }
                });
            };
            this.ShowAllLikes=new function(){
                $('.single_post .like_comment_part .all_likes').mouseenter(function(){
                    $(this).addClass('showalllikesActive');
                    var post_id=$(this).parent().parent().data('postid')
                    $.ajax({
                        url: '<%= Rails.application.routes.url_helpers.show_all_likes_users_path %>',
                        data: {post_id:post_id},
                        type: 'get'
                    });
                });
                $('.single_post .like_comment_part .all_likes').mouseleave(function(){
                    $(this).removeClass('showalllikesActive');
                    $('.alllikesholder').remove();
                });
//                $('.single_post .like_comment_part .all_likes').mouseenter(function(){
//                    var likers_list=$(this).data("likers");
//                    alert(likers_list)
//
//                });

            };
        };
        this.PostDelete=new function(){
            $('.single_post .post_delete').click(function(){
                var post_id=$(this).parent().parent().data('postid')
                $.ajax({
                    url: '<%= Rails.application.routes.url_helpers.post_delete_users_path %>',
                    data: {post_id:post_id},
                    type: 'get'
                });
            });
        };
        this.Events=new function(){
            $('.frnd_search_field_and_container').click(function(e){
                e.stopPropagation();
                $('.received_friend_request_container').hide();
            });
            $('.received_friend_request_container').click(function(e){
                e.stopPropagation();
            });
            $(document).click(function(){
                $('.serched_friend_list_container').hide();
                $('.received_friend_request_container').hide();
            });
            $('.friend_request_menu').click(function(e){
                e.stopPropagation();
                $('.serched_friend_list_container').hide();
                var RFRC=$('.received_friend_request_container');
                if(RFRC.is(':visible')) {
                    RFRC.hide();
                }
                else{
                    RFRC.show();
                    $.ajax({
                        url: '<%= Rails.application.routes.url_helpers.load_received_friend_request_list_users_path %>',
                        data: {},
                        type: 'get'
                    });
                }
            });
        };
    };
});

