$(document).ready(function(){
    var Commu=new function(){
        var that=this,chat_bar=$('.chatbar');
        this.ContactList=new function(){
            var selectcontact=$('.contacts');
            selectcontact.mouseover(function(){
                $(this).addClass("active");
            });
            selectcontact.mouseout(function(){
                $(this).removeClass("active");
            });
            selectcontact.click(function(){
                var user=$(this).data('userinfo');
                chat_bar.find('.titlebar .username').html(user['email']).data('user',user);
                chat_bar.find('#recipient_id').val(user['id']);
                chat_bar.find('.chat_barAndMessage_container').html("");
                chat_bar.find('.chat_barAndMessage_container').data("LastDate","blank");
                chat_bar.show();
                that.MessageLoad(user['id']);
            });
        };
        this.ChatBarAndMessageContainer=new function(){
            this.ScrollDownMessageContainer=function(){
                var seclectmessagecontainer=$('.chat_barAndMessage_container');
                seclectmessagecontainer.scrollTop(seclectmessagecontainer.prop("scrollHeight"));

            };
            this.ContainerHide=new function(){
                chat_bar.find('.titlebar img').click(function(e){
                    e.stopPropagation();
                    chat_bar.find('.chat_barAndMessage_container').data("LastDate","blank");
                    chat_bar.hide();
                });
                chat_bar.find('.titlebar').click(function(){
                    chat_bar.find('.ChatContentField').toggle(function(){
                        $(this).animate({height:0},200);
                    },function(){
                        $(this).animate({height:237},200);
                    });
                });
            };
        };
        this.MessageSending=new function(){
            var textboxselector=$('.chatbar .text_input_field');
            textboxselector.keydown(function(e){
                if(textboxselector.val()=='') {
                    if (e.keyCode == 32) {
                        e.preventDefault();
                    }
                }
            });
        };
        this.MessageLoad= function(recipient_id){
            LastDate="blank"
            $.ajax({
                url: '<%= Rails.application.routes.url_helpers.message_load_messages_path %>',
                data: {recipient_id: recipient_id,LastDate:LastDate},
                type: 'get'

            });
        };
        this.AutoMessageLoad=new function(){
            setInterval(function(){
                if($(".chatbar").is(":visible")) {
                    var user = $('.chatbar .titlebar .username').data('user');
                    var LastDate = $('.chatbar .chat_barAndMessage_container').data('LastDate');
                    var recipient_id = user['id'];
                    $.ajax({
                        url:'<%= Rails.application.routes.url_helpers.message_load_messages_path %>',
                        data: {recipient_id: recipient_id,LastDate:LastDate},
                        type: 'get'
                    });
                }
            },1000)
        };
        this.FriendSearch=new function(){
            var search_field=$('.search_text_field');
            search_field.keydown(function(e){
                if($(this).val()=='') {
                    if (e.keyCode == 32) {
                        e.preventDefault();
                    }
                }
            });
            search_field.keyup(function(){
                var friend_name=$(this).val();
                if(friend_name!=''){
                    $.ajax({
                        url: '<%= Rails.application.routes.url_helpers.search_friend_users_path %>',
                        data: {friend_name: friend_name},
                        type: 'get'
                    });
                }
            });
        };
        this.PostLike=new function(){
            this.LikeClick=new function(){
                $('.single_post .like_comment_part .like').click(function(){
                    var like=$(this).html(),str;
                    if(like=='Like'){
                        $(this).html('Liked').css('color','green');
                        var like_comment=$(this).parent();
                        var ll=like_comment.find('.number').html();
                        if(ll){
                            like_comment.find('.number').html(parseInt(ll)+1);
                            like_comment.find('.unit').html('Likes');
                        }
                        else{
                            str=$('<span class="all_likes"><span class="number">1</span><span class="unit"> Like</span></span>');
                            like_comment.append(str);
                        }
                        var post_id=$(this).parent().parent().data('postid')
                        $.ajax({
                            url: '<%= Rails.application.routes.url_helpers.post_like_users_path %>',
                            data: {post_id:post_id},
                            type: 'get'
                        });
                    }
                });
            };
            this.ShowAllLikes=new function(){
                $('.posts_container').on("mouseenter",'.single_post .like_comment_part .all_likes',function(){
                    $(this).addClass('showalllikesActive');
                    var post_id=$(this).parent().parent().data('postid')
                    $.ajax({
                        url: '<%= Rails.application.routes.url_helpers.show_all_likes_users_path %>',
                        data: {post_id:post_id},
                        type: 'get'
                    });
                });
                $('.posts_container').on("mouseleave",'.single_post .like_comment_part .all_likes',function(){
                    $(this).removeClass('showalllikesActive');
                    $('.alllikesholder').remove();
                });

            };
        };
        this.PostDelete=new function(){
            $('.posts_container').on('click','.single_post .post_delete',function(){
                var post_id=$(this).parent().parent().data('postid')
                $.ajax({
                    url: '<%= Rails.application.routes.url_helpers.post_delete_users_path %>',
                    data: {post_id:post_id},
                    type: 'get'
                });
            });
        };
        this.PostComment=new function(){
            this.CommentFormLoad=new function(){
                $('.single_post .like_comment_part .comment').click(function(){
                    var comment_form=$('<div class="comment_form">'+
                                          '<div contenteditable="true" class="comment_text_field" data-placeholder="Comment here..."></div>'+
                                       '</div>');
                    if($(this).parent().siblings('.comment_container').find('.comment_form').length===0) {
                        $('.single_post .comment_container .comment_form').remove();
                        $(this).parent().siblings('.comment_container').append(comment_form);
                    }
                    comment_form.find('.comment_text_field').keypress(function(e){
                        var code= e.which || e.keyCode;
                        if ($(this).is(':empty') && code==32) {
                            e.preventDefault();
                        }
                        if(code == 13){
                            e.preventDefault();
                            var post_id=$(this).parent().parent().parent().data('postid'),body=$(this).text();
                            if(body!='') {
                                $.ajax({
                                    url: '<%= Rails.application.routes.url_helpers.post_comment_users_path %>',
                                    data: {post_id: post_id, body: body},
                                    type: 'get'
                                });
                                $(this).html("");
                            }

                        }

                    });

                });
            };
        };
        this.Events=new function(){
            $('.frnd_search_field_and_container').click(function(e){
                e.stopPropagation();
                $('.received_friend_request_container').hide();
            });
            $('.received_friend_request_container').click(function(e){
                e.stopPropagation();
            });
            $(document).click(function(){
                $('.serched_friend_list_container').hide();
                $('.received_friend_request_container').hide();
            });
            $('.friend_request_menu').click(function(e){
                e.stopPropagation();
                $('.serched_friend_list_container').hide();
                var RFRC=$('.received_friend_request_container');
                if(RFRC.is(':visible')) {
                    RFRC.hide();
                }
                else{
                    RFRC.show();
                    $.ajax({
                        url: '<%= Rails.application.routes.url_helpers.load_received_friend_request_list_users_path %>',
                        data: {},
                        type: 'get'
                    });
                }
            });
        };
    };
});

