<% if @post_created_flag %>
<div class="single_post" data-postid="<%= @post.id %>">
  <div class="post_title">
    <% if @post.user.profilepic.present? %>
        <%= link_to image_tag(@post.user.profilepic, :border => 0, :alt => '', :title => @post.user.name), user_path(@post.user), :class => ''%>
    <% else %>
        <%= link_to image_tag("/image/profile-image2.gif", :border => 0, :alt => '', :title => @post.user.name), user_path(@post.user), :class => ''%>
    <% end %>
    <span class="user"> <%= link_to @post.user.email, user_path(@post.user) %> </span><%= @post.title if @post.title %>
    <img class="post_delete" src="/image/cancel.png" />
  </div>
  <div class="post_body">
    <div class="body_part"><%= @post.body %></div>
  </div>
  <div class="like_comment_part">
            <span class="like">Like</span>
    <span class="comment">Comment</span>
  </div>
  <div class="comment_container">
    <div class="comments"></div>
  </div>
</div>
<% end %>