<!DOCTYPE html>
<html>
<head>
  <title>Communication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<p class="navbar-text pull-right">
  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :get, :class => 'navbar-link'  %>
  <% else %>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => 'navbar-link' %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>
<% if current_user %>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-lg-2">
          <%= link_to 'Home', users_path %>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2">
          <%= link_to 'Profile', user_path(current_user)%>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2">
          <div class="menu_class friend_request_menu">Friend+
            <div class="received_friend_request_container">

            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2">Notification</div>
      </div>
    </div>
<% end %>

<div class="container"><%= yield %></div>





</body>
</html>
